In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['USA','Canda','Mexico']

In [3]:
mydata = [1776,1867,1821]

In [4]:
myser = pd.Series(data=mydata)

In [5]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [6]:
type(myser)

pandas.core.series.Series

In [7]:
myser[0]

1776

In [8]:
myser[1:]

1    1867
2    1821
dtype: int64

In [9]:
myser = pd.Series(index=myindex,data=mydata)

In [10]:
myser

USA       1776
Canda     1867
Mexico    1821
dtype: int64

In [11]:
myser['USA']

1776

In [12]:
ages = {'Sam':5,'Frank':10}

In [13]:
pd.Series(ages)

Sam       5
Frank    10
dtype: int64

In [14]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [15]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [17]:
sales_q1['Japan']

80

In [18]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
[1,2] * 2

[1, 2, 1, 2]

In [20]:
np.array([1,2]) * 2

array([2, 4])

In [21]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [22]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [23]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [25]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [26]:
sales_q1.dtype

dtype('int64')

In [27]:
sales_q1.add(sales_q2,fill_value=0).dtype

dtype('float64')